.signForm {
  text-align: left;
  width: 90%;
  margin-right: 0%;
}

.enterName {
  font-weight: bold;
}
.formLabel {
  margin-left: 2ch;
  font-size: x-small;
  color: red;
}
.formLabelNoShow {
  display: none;
}

.btn {
  float: right;
  margin-top: 1ch;

  background-color: rgb(0, 0, 70);
  color: goldenrod;
}

.formInput {
  width: 18rem;
}
